header{
    font-size: 24px;
    color: azure;
    background: #8c897b;
    padding: 5px 20px;
}

body {
    padding: auto;
    background: #c1bda2;
    font-size: 18px;
    font-family: "Calibri Light", sans-serif;
}
footer {
    padding: 5px 20px;
    text-align: right;
    color: azure;
    background: #6f6d63;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

a:link {
    color: #a24c00;
    text-decoration: none;
}

a:visited {
    color: #794117;
}

a:hover {
    color: azure;
}

table.center {
    font-size: 20px;
    border-collapse: collapse;
    background-color: #bcb8a4;
    border:	4px double black;
    width: 800px;

    margin-left:auto;
    margin-right:auto;
}

dl {
    margin-top: 3px;
    margin-bottom: 3px;
    background: none repeat scroll 0 0 #b5b099;
    padding: 3px 7px;
}

dt {
    display: inline-block;
    width: 190px;
    text-align: right;
}

dd {
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
    margin: 0;
}