header{
    font-size: 24px;
    color: azure;
    background: #8c897b;
    padding: 10px 20px;
}

body {
    padding: auto;
    background: #c1bda2;
    font-size: 18px;
    font-family: "Calibri Light", sans-serif;
}
footer {
    padding: 5px 20px;
    text-align: right;
    font-size: 24px;
    color: #c1bda2;
    background: #6f6d63;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

a:link {
    color: #794117;
    text-decoration: none;
}

a:visited {
    color: #794117;
}

a:hover {
    color: azure;
}

table.center {
    font-size: 20px;
    border-collapse: collapse;
    background-color: #bcb8a4;
    border:	#615e50;
    width: 1200px;

    margin-left:auto;
    margin-right:auto;
}

td {
    padding: 15px;
}

th {
    padding: 15px;
    background-color: #a39f8b;
}

th.alt {
    padding-left: 180px;
    text-align: left;
}

dl {
    margin-top: 3px;
    margin-bottom: 3px;
    background: none repeat scroll 0 0 #b5b099;
    padding: 3px 7px;
}

dt {
    display: inline-block;
    width: 190px;
    text-align: right;
}

dd {
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
    margin: 0;
}

button {
    border: 1px solid #6f6d63;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "Calibri Light", sans-serif;;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.btn1{
    color: #6f6d63;
}

.btn1:hover{
    color: #b5b099;
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #6f6d63;
    z-index: -1;
    transition: 0.8s;
}
.btn1::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}
.btn1:hover::before{
    height: 180%;
}

input[type="text"] {
     border: none;
     background-color: #cbc6af;
     padding: 4px;
 }
input[type="text"]:focus {
    color: #000000;
    border: none;
}
textarea {
    border: none;
    background-color: #cbc6af;
    padding: 4px;
    width: 814px;
    height: 110px;
}

div.but {
    margin-left: 1364px;
}